{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DetailHtml</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" 
            rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <style>
        body {  
            text-align: center; 
            background-image: url("https://img5.yna.co.kr/etc/inner/KR/2018/01/19/AKR20180119050900056_01_i_P2.jpg");
        }
    </style>
</head>
{% block content %}
<body>
    <h1>Detail Your Blog</h1>
    <div class="card text-center border-dark" style="width: 25rem; margin: 20px 860px;"> 
        {% if blogModel.image %}
        <img src="{{blogModel.image.url}}" class="card-img-top">
        {% endif %}
        <div class="card-body">
            <h3 class="card-title">{{blogModel.title}}</h3>
            <h6 class="card-subtitle mb-2 text-muted">{{blogModel.writer}}</h6>
            <p class="card-text">{{blogModel.body}}</p>
        </div>
        <div class="card-footer text-muted">
            {{blogModel.pub_date}}
        </div>
    </div>
    <div style="text-align: center;">
        <div>
            <a href="{% url 'formBlog:edit' blogModel.id %}" style="font-size: x-large; font-style: italic;">수정하기</a>  
            <a href="{% url 'formBlog:deletePost' blogModel.id %}" style="font-size: x-large; font-style: italic;">삭제하기</a>
            <a href="{% url 'homeHtml' %}" style="font-size: x-large; font-style: italic;">홈으로</a>
        </div>
        <div style="margin-top: 20px;">
            {% if blogModel.image_thumbnail %}
            <img src="{{blogModel.image_thumbnail.url}}">
            {% endif %}
            <p style="font-size: large; color: white;">썸네일</p>
        </div>
    </div>
</body>
</html>
{% endblock %}