{% extends 'base.html' %}

    {% block content %}
    <body>
        <h1>Blog Project</h1>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for blogRow in blogObject %} 
            <div class="col">
                <div class="card border-dark" style="margin: 0px 150px;"> 
                    <div class="card-body">
                        <h3 class="card-title">{{blogRow.title}}</h3>
                        <h6 class="card-subtitle mb-2 text-muted">{{blogRow.writer}}</h6>
                        <p class="card-text">{{blogRow.summary}}</p>
                        <a href="{%url 'detailHtml' blogRow.id %}" class="card-link" style="font-size: large;">...more</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
{% endblock %}